$color__offwhite: #f9f9f9;
$color__rule: #d2d2d2;
$color__lightgrey: #eee;
$color__white: #fff;
$color__brand: #34b38a;
$color__dark: #292929;
$color__lightlydark: #5a5856;
$color__lightlydarktwo: #393836;
$color__hover_main: #292929;
$color__hover_sec: #292929;
$color__blue: #2f6cb3;
$color__danger: #ec0612;

