// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}


@mixin small-screen {
	@media (min-width: 420px) {
		@content;
	}
}

@mixin for-mobile {
	@media (min-width: 560px) {
		@content;
	}
}
@mixin small-medium-screen {
	@media (min-width: 640px) {
		@content;
	}
}

@mixin medium-screen {
	@media (min-width: 767px) {
		@content;
	}
}

@mixin large-screen {
	@media (min-width: 960px) {
		@content;
	}
}
